*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: capitalize;

}
@font-face {
    font-family: "barlow-medium";
    src: url(../resources/fonts/barlow/Barlow-Medium.ttf);
  }
  
  @font-face {
    font-family: "tungsten-bold";
    src: url(../resources/fonts/Tungsten-Bold.otf);
  }

  :root {
    --color-redValorant: #ff4655;
    --color-beige: #ece8e1;
    --color-beigeLight: rgba(255, 255, 255, 0.5);
    --color-black: #0f1923;
    --color-blackLight: rgba(0, 0, 0, 0.2);
    --color-grey: #383e3a;
    --font-tungsten: "tungsten-bold", Arial, sans-serif;
    --font-barlowBold: "Barlow", sans-serif;
    --font-barlowMedium: "barlow-medium", sans-serif;
  }
header{
    height: 100vh;
    width: 100%;
    background-image: url(../resources/meteoBG.png);
    background-size: 650px 650px;
    background-repeat: repeat-y;
    background-position: center;
    background-size: cover;
    background-color: rgb(253, 253, 253)color;
    position: relative;
}

nav{
    width: 100%;
    height: 12vh;
    display: flex;
    background-color: rgb(0, 0, 0);
    align-items: center;
    justify-content: space-around;
    position: fixed;
}
.info h1{
    font-family: var(--font-tungsten);
    position: absolute;
    font-size: 100px;
    left: 70px;
    top: 200px;
    bottom: 200px;
    letter-spacing: 0px;
    color: rgb(0, 0, 0);
}
.info h3{
    position: absolute;
    font-family: var(--font-tungsten);
    font-size: 50px;
    left: 70px;
    top: 290px;
    bottom: 300px;
    color: rgb(0, 0, 0);
}
.info p{
    position: absolute;
    font-size: 21px;
    font-family: var(--font-barlowMedium);
    background: linear-gradient(to right, rgb(153, 255, 255), white); 
    left: 70px;
    top: 340px;
    color: rgb(255, 255, 255);
    padding: 20px;
    max-width: 80%;
    max-height: 50%; 
    overflow: hidden; 
    text-align: justify; 
    line-height: 1.5; 
}
.info p small{
    color: rgb(0, 0, 0);
}
.vik{
    position: absolute;
    border: solid black;
    background-image: url(../resources/personBG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    top: 120px;
    left: 580px;
    padding: 15px;
    width: 500px;
    height: 600px;
}
.icons{
    display: flex;
}
.icons a{
    top: 220px;
    left: 1100px;
    width: 80px;
    height: 80px;
    text-align: center;
    text-decoration: none;
    color: #000;
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.05);
}
.fa-cloud{
    position: absolute;
    top: 220px;
    left: 1110px;
    display: block;
    background: #ffffff;
    box-shadow: 0 10px 10px rgba(0,0,0,0.7);
    border: solid rgb(0, 0, 0);
    border-radius: 50%;
    width: 65px;
    height: 60px;
    font-size: 50px;
    line-height:
     101%;
     transition: 0.8s;
}
.hidecloud h3{
    font-size: 30px;
    top: 490px;
    left: 70%;
}
.icons .cloud a i{
    font-size: 20px;
    line-height: 60px;
    background: rgb(255, 255, 255);
    transition: 0.2s;
}
.icons .cloud a i{
    font-size: 40px;
    line-height: 60px;
}
.icons .cloud a i:hover{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0); 
}
.icons .cloud a i:hover:before{
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}
.hidecloud {
    width: 30%;
    font-size: 7px;
    display: none;
    position: absolute;
    top: 400px;
    left: 72%;
    background-color: rgba(0, 0, 0, 0.2);
  }
  
.cloud:hover + .hidecloud {
    display: block;
    background-color: white;
    font-family: 'Space Mono', monospace;
    color: rgb(0, 0, 0);
    padding: 20px; 
    max-width: 80%; 
    max-height: 50%; 
    overflow: hidden; 
    text-align: justify;
    line-height: 1.5; 
  }
.fa-temperature-half{
    position: absolute;
    top: 220px;
    left: 1200px;
    display: block;
    background: #ffffff;
    box-shadow: 0 10px 10px rgba(0,0,0,0.7);
    border: solid black;
    border-radius: 50%;
    width: 65px;
    height: 60px;
    font-size: 50px;
    line-height: 101%;
    transition: 0.8s;
}
.hidetemp h3{
    font-size: 30px;
    top: 490px;
    left: 70%;
}
.icons .temp a i{
    font-size: 30px;
    line-height: 60px;
    background: white;
    transition: 0.2s;
}
.icons .temp a i{
    font-size: 40px;
    line-height: 60px;
}
.icons .temp a i:hover{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0); 
}
.icons .temp a i:hover:before{
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}
.hidetemp {
    width: 30%;
    font-size: 7px;
    display: none;
    position: absolute;
    top: 400px;
    left: 72%;
    background-color: rgba(0, 0, 0, 0.2);
  }
  
.temp:hover + .hidetemp {
    display: block;
    background-color: white;
    font-family: 'Space Mono', monospace;
    color: rgb(0, 0, 0);
    padding: 20px; 
    max-width: 80%; 
    max-height: 50%; 
    overflow: hidden; 
    text-align: justify;
    line-height: 1.5; 
}
.fa-sun{
    position: absolute;
    top: 300px;
    left: 1110px;
    display: block;
    background: #fff;
    box-shadow: 0 10px 10px rgba(0,0,0,0.7);
    border: solid black;
    border-radius: 50%;
    width: 65px;
    height: 60px;
    font-size: 50px;
    line-height: 101%;
}
.hidesun h3{
    font-size: 30px;
    top: 490px;
    left: 70%;
}
.icons .sun a i{
    font-size: 30px;
    line-height: 60px;
    background: white;
    transition: 0.2s;
}
.icons .sun a i{
    font-size: 40px;
    line-height: 60px;
}
.icons .sun a i:hover{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0); 
}
.icons .sun a i:hover:before{
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}
.hidesun {
    width: 30%;
    font-size: 7px;
    display: none;
    position: absolute;
    top: 400px;
    left: 72%;
    background-color: rgba(0, 0, 0, 0.2);
  }
  
.sun:hover + .hidesun {
    display: block;
    background-color: white;
    font-family: 'Space Mono', monospace;
    color: rgb(0, 0, 0);
    padding: 20px; 
    max-width: 80%; 
    max-height: 50%; 
    overflow: hidden; 
 
    line-height: 1.5; 
}
.fa-cloud-bolt{
    position: absolute;
    top: 301px;
    left: 1205px;
    display: block;
    background: #fff;
    box-shadow: 0 10px 10px rgba(0,0,0,0.7);
    border: solid black;
    border-radius: 50%;
    width: 65px;
    height: 60px;
    font-size: 50px;
    line-height: 101%;
}
.hidecloud h3{
    font-size: 30px;
    top: 490px;
    left: 70%;
}
.icons .cloud a i{
    font-size: 30px;
    line-height: 60px;
    background: white;
    transition: 0.2s;
}
.icons .cloud a i{
    font-size: 40px;
    line-height: 60px;
}
.icons .cloud a i:hover{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0); 
}
.icons .cloud a i:hover:before{
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}
.hidecloud {
    width: 30%;
    font-size: 7px;
    display: none;
    position: absolute;
    top: 400px;
    left: 72%;
    background-color: rgba(0, 0, 0, 0.2);
  }
  
.cloud:hover + .hidecloud {
    display: block;
    background-color: white;
    font-family: 'Space Mono', monospace;
    color: rgb(0, 0, 0);
    padding: 20px; 
    max-width: 80%; 
    max-height: 50%; 
    overflow: hidden; 

    line-height: 1.5; 
}
